ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin-top: -11px;
  height: 50px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}
